<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pavanpradeep.cashflow">

    <application
        android:allowBackup="true"
        android:label="Cash Flow"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.pavanpradeep.cashflow.ResetActivity" />
        <activity android:name="com.pavanpradeep.cashflow.PasswordActivity" />
        <activity android:name="com.pavanpradeep.cashflow.LoginActivity" />
        <activity android:name="com.pavanpradeep.cashflow.RegisterActivity">

        </activity>
        <activity
            android:name="com.pavanpradeep.cashflow.Splash"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.pavanpradeep.cashflow.BudgetPieChart"
            android:screenOrientation="portrait"
            android:theme="@style/withActionBar" />
        <activity
            android:name="com.pavanpradeep.cashflow.History"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.pavanpradeep.cashflow.Statistic"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.pavanpradeep.cashflow.Saving"
            android:screenOrientation="portrait" />
    </application>

</manifest>